.App {
  text-align: center;
}

.sw-svg {
  width: 40%;
  height: auto;
  position: absolute;
  bottom: 10%;
  left: 55%;
}

img[name="background"] {
  width: 100%;
}

.table-container {
  position: absolute;
  bottom: 40%;
  right: 45%;
  background-color: gray;
  max-width: 100%;
}
