body {
  background-image: url("../public/darth-vader-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  text-align: center;
  font-weight: 900;
}

.sw-logo {
  width: 500px;
  margin-top: 2em;
}
.sw-table {
  position: relative;
  margin-top: 4em;
}
